.Launcher {
  font-family: "Segoe UI", sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/img/background_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .loaderText {
      margin-top: 1.5em;
      color: white;
      font-size: 1.5em;
    }
  }

  .container {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .topPart {
      gap: 1em;
      color: white;
      display: flex;
      padding: 1em;
      padding-bottom: 0;
    }

    .bottomPart {
      flex: 1;
      padding: 1em;
      color: white;
      display: flex;
      gap: 1em;
    }
  }
}
